.form-field-radio {
    padding: 0;
    margin-bottom: 30px;
}

.confirm-delete form {
    display: block;
}

input[type="radio"] {
    float: left;
    margin-right: 1%;
    width: auto;
}

.input-submit {
    display: inline-block;
    margin-right: 30px;
}

form label {
    width: auto;
}