/* ------------------------------------------------------- */
/* ---- branding ----------------------------------------- */
$color-brand1: #555;
$color-bg1: #f9f9f9;
$font-family1: Verdana, Helvetica;
$font-size1: 15px;

$width-max: 1280px;
$width-menu: 260px;

html body, body h1, body h2, h3, h4, p, ul, ol {
    margin: 0;
    padding: 0;
    font-family: $font-family1;
    font-size: $font-size1;
}

ol, ul {
    list-style: none;
}

* {
    box-sizing: border-box;
}

.cf:before, .cf:after {
    display: block;
    content: '';
    clear: both;
}

a {
    color: $color-brand1;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

span {
    color: $color-brand1;
}

.fit {
    max-width: $width-max;
    margin: 0 auto;
}

.main-header {
    background-color: darken($color-bg1, 2%);
    padding: 30px 0;
}

.menu h2, .main-container h2 {
    font-size: $font-size1 + 2;
}


/* -------------------------------------------------------- */
/* ---- Column -------------------------------------------- */
.menu {
    width: $width-menu;
    float: left;
    background-color: $color-bg1;
    padding: 2% 0;
    li {
        margin: 2%;
    }
    a {
        display: block;
        padding: 1%;
    }
}

/* -------------------------------------------------------- */
/* ---- Content ------------------------------------------- */
.content-wrapper {
    width: $width-max - $width-menu;
    padding: 2%;
    float: left;
}

/* -------------------------------------------------------- */
/* ---- Content ------------------------------------------- */
table {
    margin-top: 10px;
    border: 1px solid #ddd;
    border-collapse: collapse;
    width: 100%;
}

table thead {
    font-size: $font-size1;
    font-weight: bold;
    text-align: left;
}

thead > tr > th, thead > tr > td {
    border-bottom-width: 2px;
}

table th, table tr, table td {
    line-height: 1.42857;
    padding: 8px;
    border: 1px solid #ddd;
}

/* -------------------------------------------------------- */
/* ---- Footer -------------------------------------------- */
.main-footer {
    padding: 3% 0;
    background-color: darken($color-bg1, 2%);
}

/* -------------------------------------------------------- */
/* ---- Pagination ---------------------------------------- */
.pagination {
    margin: 10px 0 0 0;
}

.pagination-num, .pagination-prev-next {
    display: inline-block;
    padding: 10px;
    background: #ddd;
    margin: 5px;
}

.pagination-num:not(.pagination-current-page), .pagination-prev-next:not(.pagination-disabled) {
    -webkit-box-shadow: 1px 1px 3px 0 #aaa;
    -moz-box-shadow:    1px 1px 3px 0 #aaa;
    box-shadow:         1px 1px 3px 0 #aaa;
}

.pagination-num:hover:not(.pagination-current-page), .pagination-prev-next:hover:not(.pagination-disabled), .pagination-current-page {
    -webkit-box-shadow: 0 0 5px 0 #aaa inset;
    -moz-box-shadow:    0 0 5px 0 #aaa inset;
    box-shadow:         0 0 5px 0 #aaa inset;
    margin: 4px;
    padding: 11px;
    background: #eee;
}

.pagination-disabled {
    padding: 11px;
    margin: 4px;
    color: #999;
}

.pagination-disabled:hover {
    cursor: default;
}

