#
# filename: .gitignore
#

.htaccess
.idea/
conf/inc.dbconfig.php
conf/inc.appconfig.php

# vim tags file
tags

# Ignore our .css files (for admin and site) since we'll only commit .scss ones.
/css/*.css
!/css/colorbox.css

# Sass stuff.
.sass-cache/
*.map

vendor/

/_tmp/*
!/_tmp/.gitignore
composer.lock

/test.php
