#
# filename: .gitignore
#

.htaccess
.idea/
conf/inc.dbconfig.php
conf/inc.appconfig.php

# vim tags file
tags

# Ignore our .css files (for admin and site) since we'll only commit .scss ones.
/css/*.css
!/css/colorbox.css

# Sass stuff.
.sass-cache/
*.map

vendor/

/_tmp/*
!/_tmp/.gitignore
composer.lock

/test.php

# Let's ignore module files, except for the configuration file
modules/*
!modules/example_modules.php

# It seems wiki for the project is a separate thing on bitbucket,
# so, let's clone it as a separate project.
wiki/

_stuff/MYNOTES.txt
_stuff/INSTALL.md
_stuff/ISSUES.md
_stuff/bootstrap_components.org

