#
# filename: .gitignore
#

public/.htaccess
.idea/
conf/inc.dbconfig.php
conf/inc.appconfig.php

# vim tags file
tags

# Ignore our .css files (for admin and site) since we'll only commit .scss ones.
public/lsm/css/*.css
public/site/css/*.css

# Sass stuff.
.sass-cache/
*.map

vendor/

/public/lsm/_tmp/*
!/public/lsm/_tmp/.gitignore
/public/lsm/composer.lock

/public/site/*
!/public/site/.gitkeep
