RewriteEngine ON
RewriteBase /
# RewriteBase /light-site-manager/public/

# If it is an actual directory of file, don't "rewrite"
RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d

# RewriteRule ^.*[^/]$ /$0/ [L,R=301]

# GET will contain url with everything after the domain name.
# QSA -> Query String Append
RewriteRule ^(.+)$ index.php?uri=$1 [QSA,L]
